<%- include('../header',{title: 'Thông tin cá nhân'}) -%>
<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed " >
    <div class="kt-header-mobile__logo">
        <a href="/khachhang">
            <img alt="Logo" src="kw/media/logos/logo-6.png"/>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
       
        <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
    </div>
</div>
<!-- end:: Header Mobile -->
<!-- begin:: Root -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <!-- begin:: Page -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!-- begin:: Aside -->
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        <div class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
            <!-- begin::Aside Brand -->
            <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                <div class="kt-aside__brand-logo">
                    <a href="/khachhang">
                        <img alt="Logo" src="kw/media/logos/logo-6.png"/>
                    </a>
                </div>
                <div class="kt-aside__brand-tools">
                    <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                </div>
            </div>
            <!-- end:: Aside Brand -->
            <!-- begin:: Aside Menu -->
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" >
                    <ul class="kt-menu__nav ">
                        
                        <li class="kt-menu__item " aria-haspopup="true" >
                            <a href="/khachhang" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-squares"></i><span class="kt-menu__link-text">Dashboard</span></a>
                        </li>
                        <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true" >
                            <a href="/khachhang/thongtin" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-user-circle"></i><span class="kt-menu__link-text">Thông Tin Cá Nhân</span></a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                            <a href="/khachhang/taikhoan" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-credit-card"></i><span class="kt-menu__link-text">Tài Khoản Ngân Hàng</span></a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                            <a href="/khachhang/thanhtoan" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-donate"></i><span class="kt-menu__link-text">Tài Khoản Thanh Toán</span></a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                            <a href="/khachhang/tietkiem" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-address-card"></i><span class="kt-menu__link-text">Tài Khoản Tiết Kiệm</span></a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                            <a href="/dangxuat" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-smile-beam"></i><span class="kt-menu__link-text">Đăng xuất</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end:: Aside Menu -->
            
        </div>
        <!-- end:: Aside -->
        <!-- begin:: Wrapper -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " >
                <!-- begin:: Header Menu -->
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile kt-header-menu--layout- " >
                        <ul class="kt-menu__nav ">
                            
                        </ul>
                    </div>
                </div>
                <!-- end:: Header Menu -->
                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">
                    
                    <!--begin: Notifications -->
                    <%- include('../thongbao',{get_all_tb,count_all_tb}) -%>
                    <!--end: Notifications -->
                    <!--begin: User Bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--user">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px, 0px">
                            <div class="kt-header__topbar-user">
                                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span> <span class="kt-header__topbar-username kt-hidden-mobile"><%=kwKH.hoten%></span> 
                                <%
                                             if(kwKH.avatar!=null)
                                             {
                                                s= new Buffer(kwKH.avatar).toString('base64');
                                                %><img alt="Pic" src="data:image/jpeg;base64,<%=s %>" /><%
                                             }
                                             else
                                             {
                                                %><img alt="Pic" src="public/index/images/bg-logo.jpg" width="80px" height="auto"/><%
                                             }
                                             %>
                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span> 
                            </div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                            <div class="kt-user-card kt-margin-b-50 kt-margin-b-30-tablet-and-mobile" style="background-image: url(kw/media/misc/head_bg_sm.jpg)">
                                <div class="kt-user-card__wrapper">
                                    <div class="kt-user-card__pic">
                                        <%
                                             if(kwKH.avatar!=null)
                                             {
                                                s= new Buffer(kwKH.avatar).toString('base64');
                                                %><img alt="Pic" src="data:image/jpeg;base64,<%=s %>" /><%
                                             }
                                             else
                                             {
                                                %><img alt="Pic" src="public/index/images/bg-logo.jpg" /><%
                                             }
                                             %>
                                    </div>
                                    <div class="kt-user-card__details">
                                        <div class="kt-user-card__name"><%=kwKH.hoten%></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="kt-nav kt-margin-b-10">
                                <li class="kt-nav__item">
                                    <a href="khachhang/thongtin" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                        <span class="kt-nav__link-text">Thông tin cá nhân </span> 
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="khachhang/taikhoan" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                                        <span class="kt-nav__link-text">Tài khoản ngân hàng</span> 
                                    </a>
                                </li>
                                
                                <li class="kt-nav__item">
                                    <a href="khachhang/thongtin" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                                        <span class="kt-nav__link-text">Đổi mật khẩu</span> 
                                    </a>
                                </li>
                                <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15"> <a href="/dangxuat" class="btn btn-outline-metal btn-hover-brand btn-upper btn-font-dark btn-sm btn-bold">Đăng xuất</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--end: User Bar -->
                </div>
                <!-- end:: Header Topbar -->
            </div>
            <!-- end:: Header -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- begin:: Subheader -->
                <div class="kt-subheader kt-grid__item" id="kt_subheader">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            Dashboard
                        </h3>
                        <span class="kt-subheader__separator kt-hidden"></span> 
                        <div class="kt-subheader__breadcrumbs">
                            <a href="/khachhang" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                            <span class="kt-subheader__breadcrumbs-separator"></span> 
                            <a href="/khachhang/thongtin" class="kt-subheader__breadcrumbs-link"> Tài khoản cá nhân </a>  
                            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                        </div>
                    </div>
                </div>
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                    <!--Sử dụng row để nhé-->
                    <div class="kt-portlet kt-profile">
                        <div class="kt-profile__content">
                            <div class="row">
                                <div class="col-md-12 col-lg-4 col-xl-4">
                                    <div class="kt-profile__main">
                                        <div class="kt-profile__main-pic">
                                            
                                            <%
                                             if(kwKH.avatar!=null)
                                             {
                                                s= new Buffer(kwKH.avatar).toString('base64');
                                                %><img src="data:image/jpeg;base64,<%=s %>" alt=""><%
                                             }
                                             else
                                             {
                                                %><img src="public/index/images/bg-logo.jpg" alt=""><%
                                             }
                                             %>
                                        </div>
                                        <div class="kt-profile__main-info">
                                            <div class="kt-profile__main-info-name"><%=kwKH.hoten%></div>
                                            <div class="kt-profile__main-info-position"><%=kwKH.nickname%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4 col-xl-4">
                                    <div class="kt-profile__contact">
                                        <a href="#" class="kt-profile__contact-item">
                                            <span class="kt-profile__contact-item-icon kt-profile__contact-item-icon-whatsup"><i class="flaticon-whatsapp"></i></span>
                                            <span class="kt-profile__contact-item-text"><%=kwKH.sodienthoai%></span> 
                                        </a>
                                        <a href="#" class="kt-profile__contact-item">
                                            <span class="kt-profile__contact-item-icon"><i class="flaticon-email-black-circular-button kt-font-danger"></i></span>
                                            <span class="kt-profile__contact-item-text"><%=kwKH.email%></span> 
                                        </a>
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4 col-xl-4">
                                    <div class="kt-profile__contact">
                                        <a href="#" class="kt-profile__contact-item">
                                            <span class="kt-profile__contact-item-icon"><i class="flaticon2-calendar-5"></i></span>
                                            <span class="kt-profile__contact-item-text"><%=kwKH.ngaysinh%></span> 
                                        </a>
                                        <a href="#" class="kt-profile__contact-item">
                                            <span class="kt-profile__contact-item-icon kt-profile__contact-item-icon-twitter"><i class="flaticon-placeholder-2"></i></span>
                                            <span class="kt-profile__contact-item-text"><%=kwKH.diachi%></span> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-profile__nav">
                            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1" role="tab" aria-selected="false">Thay đổi mật khẩu</a> </li>
                                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#kt_tabs_1_2" role="tab" aria-selected="true">Thay đổi thông tin</a> </li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="kt_tabs_1_1" role="tabpanel">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <!--begin::Portlet-->
                                    <div class="kt-portlet kt-portlet--height-fluid">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Thay đổi mật khẩu
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="alert alert-secondary" role="alert">
                                                        <div class="alert-text">
                                                            <h4 class="alert-heading">
                                                                Chào bạn <strong><%=kwKH.hoten%></strong> !
                                                            </h4>
                                                            <p>KingWolf Bank thông báo cho bạn những điều cần thiết khi đổi mật khẩu tài khoản :</p>
                                                            <p>- Bạn phải nhớ mật khẩu hiện tại để thay đổi mật khẩu mới.</p>
                                                            <p>- Bạn đặt mật khẩu mới từ 9 đến 15 ký tự .</p>
                                                            <p>- Khi đổi mật khẩu thành công sẽ tự động thoát ra ngoài. Bạn phải <strong>đăng nhập lại</strong> để tiếp tục truy cập tài khoản.</p>
                                                            <hr>
                                                            <p class="mb-0">KingWolf Bank cám ơn quý khách !</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%
                                                if(thongbao!=null)
                                                {
                                                    %>
                                                    <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-modal="true" style="padding-right: 17px; display: block;">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalCenterTitle">
                                                                        KingWolf Bank thông báo
                                                                    </h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <%
                                                                        if(thongbao==1)
                                                                        {
                                                                            %><p><strong>Bạn đã đổi mật khẩu thành công !</strong></p><%
                                                                        }
                                                                        else if(thongbao==2)
                                                                        {
                                                                            %>
                                                                            <p><strong>Bạn xác nhận mật khẩu mới bạn đã nhập sai.</strong></p>
                                                                            <p><strong>Bạn vui lòng nhập lại !</strong></p>
                                                                            <%
                                                                        }
                                                                        else
                                                                        {
                                                                            %>
                                                                            <p><strong>Bạn xác nhận mật khẩu hiện tại bạn đã nhập sai.</strong></p>
                                                                            <p><strong>Bạn vui lòng nhập lại !</strong></p>
                                                                            <%
                                                                        }
                                                                    %>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <%
                                                                        if(thongbao==1)
                                                                        {
                                                                            %><a class="btn btn-outline-brand" href="/dangxuat">Thoát</a><%
                                                                        }
                                                                        else
                                                                        {
                                                                            %><a class="btn btn-outline-brand" href="/khachhang/thongtin">Tắt</a><%
                                                                        }
                                                                    %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%
                                                }
                                            %>
                                                <div class="col-md-6">
                                                    <form class="kt-form" method="POST">
                                                        <div class="kt-portlet__body">
                                                            <div class="form-group">
                                                                <label>Mật Khẩu Hiện Tại</label>
                                                                <input type="password" required name="pw_hientai" minlength="9" class="form-control"  placeholder="**********">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Mật Khẩu Mới</label>
                                                                <input type="password" required name="pw_moi_1" minlength="9" class="form-control"  placeholder="**********">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Xác Nhận Mật Khẩu Mới</label>
                                                                <input type="password" required name="pw_moi_2" minlength="9" class="form-control"  placeholder="**********">
                                                            </div>
                                                        </div>
                                                        <div class="kt-portlet__foot">
                                                            <div class="kt-form__actions">
                                                                <button type="submit" name="btn_pw" value="1" class="btn btn-primary">Thay đổi</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--end::Portlet-->
                                </div>
                            </div>
                            <!--end::Row-->
                        </div>
                        <div class="tab-pane fade" id="kt_tabs_1_2" role="tabpanel">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!--begin: Personal Information-->
                                        <div class="tab-pane fade show active" id="kt_profile_tab_personal_information" role="tabpanel">
                                            <div class="kt-portlet">
                                                <div class="kt-portlet__head">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">
                                                            Thay đổi thông tin
                                                        </h3>
                                                    </div>
                                                    
                                                </div>
                                                <form class="kt-form kt-form--label-right" method="POST" enctype="multipart/form-data">
                                                    <div class="kt-portlet__body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="kt-section kt-section--first">
                                                                    <div class="kt-section__body">
                                                                        <div class="row">
                                                                            <label class="col-xl-3"></label>
                                                                            <div class="col-lg-9 col-xl-6">
                                                                                <h3 class="kt-section__title kt-section__title-sm">
                                                                                    Thay đổi ảnh đại diện
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                                                            <div class="col-lg-9 col-xl-6">
                                                                                <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_profile_avatar">
                                                                                    <div id="anhdaidien" class="kt-avatar__holder"></div>
                                                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                                        <i class="fa fa-pen"></i> 
                                                                                        <input type="file" accept="image/*" onchange="loadanhdaidien(event)" class="custom-file-input" id="anh_dai_dien" name="anh_dai_dien">
                                                                                    </label>
                                                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar"> <i class="fa fa-times"></i> </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <script>
                                                                            var loadanhdaidien=function(event){
                                                                                var getImagePath = URL.createObjectURL(event.target.files[0]);
                                                                                var output = document.getElementById('anhdaidien');
                                                                                output.style.backgroundImage = 'url(' + getImagePath + ')';
                                                                                output.style.backgroundSize = '114px';
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="kt-section kt-section--first">
                                                                    <div class="kt-section__body">
                                                                        <div class="row">
                                                                            <label class="col-xl-3"></label>
                                                                            <div class="col-lg-9 col-xl-6">
                                                                                <h3 class="kt-section__title kt-section__title-sm">
                                                                                    Thay đổi nick name:
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nick Name</label>
                                                                            <div class="col-lg-9 col-xl-6">
                                                                                <input class="form-control" name="user_nickname" type="text" >
                                                                                <span class="form-text text-muted">hãy nhập biệt danh cho bạn </span> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-portlet__foot">
                                                        <div class="kt-form__actions">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-xl-3"></div>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <button type="submit" name="btn_pw" value="2" class="btn btn-success">Thay đổi</button>
                                                                    &nbsp; 
                                                                    <button type="reset" class="btn btn-secondary">Hủy</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!--end: Personal Information-->
                                        
                                    </div>
                                </div>
                            </div>
                            <!--end::Row-->
                        </div>
                        
                    </div>
                </div>
                <!-- end:: Content -->
            </div>
            <!-- begin:: Footer -->
            <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                <div class="kt-footer__copyright"> 2020&nbsp;&copy;&nbsp;<a href="http://KingWolf Bankthemes.com/KingWolf Bank" target="_blank" class="kt-link">KingWolf Bank</a> </div>
                
            </div>
            <!-- end:: Footer -->
        </div>
        <!-- end:: Wrapper -->
    </div>
    <!-- end:: Page -->
</div>
<!-- end:: Root -->
<%- include('../footer') -%></form>